openapi: 3.0.0
info:
  title: NT Customer API
  version: 2.0.0
  contact:
    name: Peerasak Wangsom
    email: peerasak.w@nc.ntplc.co.th
  description: Full api services for NT customer database
  license:
    name: MIT
    url: 'https://github.com/pwangsom/nt-customer-api/blob/main/LICENSE'
servers:
  - url: 'https://customerapi.cattelecom.com/dev'
    description: Development
  - url: 'https://customerapi.cattelecom.com'
    description: Production

paths:  
  '/billing/{bill_acct_number}/invoice':
    parameters:
      - in: path
        name: bill_acct_number
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
    get:
      operationId: B3
      description: Retrieve a list of invoices by bill_acct_number
      summary: Get All Invoices by BA Number.
      tags: []
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/invoice-payment/Invoice.v1.yaml
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.

  '/billing/{bill_acct_number}/debt':
    parameters:
      - in: path
        name: bill_acct_number
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
    get:
      operationId: B4
      description: Retrieve a list of debt invoices by bill_acct_number
      summary: Get Debt Invoices by BA Number.
      tags: []
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/invoice-payment/Invoice.v1.yaml
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.

  '/billing/{bill_acct_number}/{record}':
    parameters:
      - in: path
        name: bill_acct_number
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
      - in: path
        name: record
        schema:
          type: string
          format: number
          example: '1'
        required: true
    get:
      operationId: B5
      description: Retrieve invoice info by bill_acct_number and number of record
      summary: Get Invoices by BA Number and Desired Record.
      tags: []
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/invoice-payment/Invoice.v1.yaml
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.

  '/invoice/{invoice_number}':
    parameters:
      - in: path
        name: invoice_number
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
    get:
      operationId: I1
      description: Retrieve invoice info by invoice_number
      summary: Get Invoice Info by Invoice Number.
      tags: []
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/invoice-payment/Invoice.v1.yaml
                oneOf:
                  - minItems: 0
                    maxItems: 0
                  - minItems: 1
                    maxItems: 1                  
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.

  '/invoice/{invoice_number}/payment':
    parameters:
      - in: path
        name: invoice_number
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
    get:
      operationId: I3
      description: Retrieve payment info by invoice_number
      summary: Get All Payment Trans by Invoice Number.
      tags: []
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/invoice-payment/PaymentTransaction.v1.yaml     
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.


  '/invoice/{invoice_number}/payment/{tracking_id}':
    parameters:
      - in: path
        name: invoice_number
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
      - in: path
        name: tracking_id
        schema:
          type: string
          format: number
          example: '11234768'
        required: true
    get:
      operationId: I4
      description: Retrieve payment info by invoice_number and tracking_id
      summary: Get a Payment Tran by Invoice Number and Tracking ID.
      tags: []
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/invoice-payment/PaymentTransaction.v1.yaml
                oneOf:
                  - minItems: 0
                    maxItems: 0
                  - minItems: 1
                    maxItems: 1                  
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.

