openapi: 3.0.0
info:
  title: NT Customer API
  version: 2.1.7
  contact:
    name: Peerasak Wangsom
    email: peerasak.w@nc.ntplc.co.th
  description: Full API services for NT customer database
  license:
    name: MIT
    url: 'https://github.com/pwangsom/nt-customer-api/blob/main/LICENSE'
servers:
  - url: 'https://customerapi.cattelecom.com/dev'
    description: Development
  - url: 'https://customerapi.cattelecom.com'
    description: Production
paths:
  '/customer/generate/customer_acct_number/{offset}':
    get:
      operationId: U01
      description: Generate CA number
      summary: Get CA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Generate success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: number
                  example: '7017480851'
                  description: CA reference number
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Generate failed.
        '500':
          description: Unexpected error.
  '/customer/name/{customer_full_name}':
    get:
      operationId: C01
      description: Retrieve customer info by customer_full_name
      summary: Get Customer Info by Customer Full Name.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerFullName'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/tax/{tax_number}':
    get:
      operationId: C02
      description: Retrieve customer info by tax_number
      summary: Get Customer Info by Tax Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/TaxNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/id/{id_card_number}':
    get:
      operationId: C03
      description: Retrieve customer info by id_card_number
      summary: Get Customer Info by ID Card Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/IdCardNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/ba/{bill_acct_number}':
    get:
      operationId: C04
      description: Retrieve customer info by bill_acct_number
      summary: Get Customer Info by BA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/sub/{subscriber_number}':
    get:
      operationId: C05
      description: Retrieve customer info by subscriber_number
      summary: Get Customer Info by Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/SubscriberNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/tel/{telephone_number}':
    get:
      operationId: C06
      description: Retrieve customer info by telephone number
      summary: Get Customer Info by Telephone Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/TelephoneNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/id/{id_card_number}/ba/{bill_acct_number}':
    get:
      operationId: C09
      description: Retrieve customer info by id_card_number and subscriber_number
      summary: Get Customer Info by ID Card Number and BA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/IdCardNumber'
        - $ref: '#/components/parameters/BillAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/id/{id_card_number}/sub/{subscriber_number}':
    get:
      operationId: C10
      description: Retrieve customer info by id_card_number and subscriber_number
      summary: Get Customer Info by ID Card Number and Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/IdCardNumber'
        - $ref: '#/components/parameters/SubscriberNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/id/{id_card_number}/tel/{telephone_number}':
    get:
      operationId: C11
      description: Retrieve customer info by id_card_number and telephone_number
      summary: Get Customer Info by ID Card Number and Telephone Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/IdCardNumber'
        - $ref: '#/components/parameters/TelephoneNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/duplication':
    get:
      operationId: C12
      description: Retrieve duplication customer info by customer_acct_number
      summary: Get Duplication Customer Info by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}':
    get:
      operationId: C13
      description: Retrieve customer info by customer_acct_number
      summary: Get Customer Info by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomerAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/bill_sub':
    get:
      operationId: C14
      description: Retrieve BA and subcriber of customer by customer_acct_number
      summary: Get BA and Subcriber of Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithBaSub'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/address':
    get:
      operationId: C15
      description: Retrieve customer info with address list by customer_acct_number
      summary: Get Customer Info with Address List by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithAddress'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/telephone':
    get:
      operationId: C16
      description: Retrieve customer info with telephone list by customer_acct_number
      summary: Get Customer Info with Telephone List by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithTelephone'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/email':
    get:
      operationId: C17
      description: Retrieve customer info with email list by customer_acct_number
      summary: Get Customer Info with Email List by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithEmail'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/social_account':
    get:
      operationId: C18
      description: Retrieve customer info with social account list by customer_acct_number
      summary: Get Customer Info with Social Account List by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithSocial'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/customer_value':
    get:
      operationId: C64
      description: Retrieve customer value by customer_acct_number by customer_acct_number
      summary: Get Customer Value by Customer Number by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithCustomerValue'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/app_registration/{app_registration_type_lkp}':
    get:
      operationId: C71
      description: Retrieve customer info with specific registration app by customer_acct_number and app_registration_type_lkp
      summary: Get Customer Info with Specific Registration App by Customer Number and App Registration Type
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
        - $ref: '#/components/parameters/AppRegistrationTypeLkp'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithAppRegistration'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/customer/id/{id_card_number}/app_registration/{app_registration_type_lkp}/ref_sub/{ref_subscr_no}':
    get:
      operationId: C75
      description: 'Retrieve customer info with specific registration app by customer_acct_number, app_registration_type_lkp, and ref_subscr_no'
      summary: 'Get Customer Info with Specific Registration App by Customer Number, App Registration Type, and Ref Subcriber No'
      tags: []
      parameters:
        - $ref: '#/components/parameters/IdCardNumber'
        - $ref: '#/components/parameters/AppRegistrationTypeLkp'
        - $ref: '#/components/parameters/RefSubscrNo'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicCustomerAccountWithAppRegistration'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  /customer/individual/create:
    post:
      operationId: C19
      description: Create an individual customer
      summary: Create An Individual Customer.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewIndyCustomer'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /customer/organization/create:
    post:
      operationId: C20
      description: Create an organization customer
      summary: Create An Organization Customer.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrgCustomer'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/individual/update/info':
    post:
      operationId: C21
      description: Update basic info of an individual customer by customer_acct_number
      summary: Update Basic Info of An Invididual Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIndividualGeneralInfo'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/organization/update/info':
    post:
      operationId: C22
      description: Update basic info of an organization customer by customer_acct_number
      summary: Update Basic Info of An Organization Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationGeneralInfo'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/individual/update/id':
    post:
      operationId: C23
      description: Update ID card of an individual customer by customer_acct_number
      summary: Update ID card of An Individual Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIndividualIdCard'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/organization/update/id':
    post:
      operationId: C24
      description: Update ID card of an organization customer by customer_acct_number
      summary: Update ID card of An Organization Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationIdCard'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/merge':
    post:
      operationId: C28
      description: Merge a duplicated customer to master customer by customer_acct_number
      summary: Merge a Duplicated Customer to Master Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeCustomer'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeCustomerOperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/individual/convert':
    post:
      operationId: C29
      description: Convert an organization customer to an individual customer by customer_acct_number
      summary: Convert An Organization Customer to An Individual Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertIndividual'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/organization/convert':
    post:
      operationId: C69
      description: Convert an individual customer to an organization customer by customer_acct_number
      summary: Convert An Individual Customer to An Organization Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertOrganization'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/address/add':
    post:
      operationId: C30
      description: Add new address to a customer by customer_acct_number
      summary: Add New Address to A Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerAddress'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/telephone/add':
    post:
      operationId: C31
      description: Add new telephone to a customer by customer_acct_number
      summary: Add New Telephone to A Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerTelephone'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/email/add':
    post:
      operationId: C32
      description: Add new email to a customer by customer_acct_number
      summary: Add New email to A Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerEmail'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/social_account/add':
    post:
      operationId: C33
      description: Add new social account to a customer by customer_acct_number
      summary: Add New Social Account to A Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerSocialAccount'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/app_registration/add':
    post:
      operationId: C72
      description: Add new registration app to a customer by customer_acct_number
      summary: Add New Registration App to A Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCustomerAppRegistration'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/customer/{customer_acct_number}/app_registration/update':
    post:
      operationId: C73
      description: Update registration app of a customer by customer_acct_number
      summary: Update New Registration App of A Customer by Customer Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerAppRegistration'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /prospect/individual/create:
    post:
      operationId: C67
      description: Create an individual prospect
      summary: Create An Individual Prospect.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewIndyProspect'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /prospect/organization/create:
    post:
      operationId: C68
      description: Create an organization prospect
      summary: Create An Organization Prospect.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrgProspect'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /partner/individual/create:
    post:
      operationId: C54
      description: Create an individual partner
      summary: Create An Individual Partner.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewIndividualPartner'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /partner/organization/create:
    post:
      operationId: C74
      description: Create an organization partner
      summary: Create An Organization Partner.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewOrganizationPartner'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/partner/{partner_ref_id}/contract/add':
    post:
      operationId: C56
      description: Add new contract to a partner by partner_ref_id
      summary: Add New Contract to A Partner by Partner Ref ID.
      tags: []
      parameters:
        - $ref: '#/components/parameters/PartnerRefId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPartnerContract'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/partner/{partner_ref_id}/contract/{contract_ref_number}/saa/add':
    post:
      operationId: C58
      description: Add new area to a partner contract by partner_ref_id and contract_ref_number
      summary: Add New Area to A Partner Contract by Partner Ref ID and Contract Ref Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/PartnerRefId'
        - $ref: '#/components/parameters/ContractRefNumber'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPartnerArea'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /billing/generate/bill_acct_number:
    get:
      operationId: U02
      description: Generate BA number
      summary: Get BA Number.
      tags: []
      responses:
        '200':
          description: Generate success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: number
                  example: '7480851'
                  description: BA number
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Generate failed.
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/basic':
    get:
      operationId: B01
      description: Retrieve basic BA info by bill_acct_number
      summary: Get Basic BA Info by BA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicBillingAccount'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/invoice':
    get:
      operationId: B03
      description: Retrieve a list of invoices by bill_acct_number
      summary: Get All Invoices by BA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/invoice/debt':
    get:
      operationId: B04
      description: Retrieve a list of debt invoices by bill_acct_number
      summary: Get Debt Invoices by BA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/invoice/{invoice_record}':
    get:
      operationId: B05
      description: Retrieve invoice info by bill_acct_number and number of record
      summary: Get Invoices by BA Number and Desired Record.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/InvoiceRecord'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  /billing/create/1:
    post:
      operationId: B07
      description: Create a billing account in Customer DB
      summary: Create a Billing Account in Customer DB.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillingAccountMode1'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /billing/create/2:
    post:
      operationId: B08
      description: Create a billing account in Billing System
      summary: Create a Billing Account in Billing System.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillingAccount'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /billing/create/3:
    post:
      operationId: B06
      description: Create a billing account in both Billing System and Customer DB
      summary: Create a Billing Account in Both Billing System and Customer DB.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewBillingAccount'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/info/update/{mode}':
    post:
      operationId: B11
      description: Update general info of a billing account by bill_acct_number
      summary: Update General Info of a Billing Account Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/Mode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingInfo'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/address/update/{mode}':
    post:
      operationId: B14
      description: Update address of a billing account by bill_acct_number
      summary: Update Address of a Billing Account Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/Mode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingAddress'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/optional_address/add/{mode}':
    post:
      operationId: B17
      description: Add optional address of a billing account by bill_acct_number
      summary: Add Optional Address of a Billing Account Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/Mode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddOptionalBillingAddress'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/optional_address/delete/{mode}':
    post:
      operationId: B20
      description: Delete optional address of a billing account by bill_acct_number
      summary: Delete Optional Address of a Billing Account Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/Mode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOptionalBillingAddress'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/dispatch_method/update/{mode}':
    post:
      operationId: B23
      description: Update dispatch method of a billing account by bill_acct_number
      summary: Update Dispatch Method of a Billing Account Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/Mode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingDispatchMethod'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/billing/{bill_acct_number}/payment/update/{mode}':
    post:
      operationId: B32
      description: Update payment method of a billing account by bill_acct_number
      summary: Update Payment Method of a Billing Account Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
        - $ref: '#/components/parameters/Mode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingPayment'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/basic':
    get:
      operationId: S01
      description: Retrieve basic subscriber with active packages and components by ref_subscr_no
      summary: Get Basic Subscriber with Active Pakages and Components by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/ca/{customer_acct_number}/sub/{subscriber_number}':
    get:
      operationId: S02
      description: Retrieve basic subscriber with active packages and components by customer_acct_number and subscriber_number
      summary: Get Basic Subscriber with Active Pakages and Components by CA Number and Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
        - $ref: '#/components/parameters/SubscriberNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/package_comp':
    get:
      operationId: S03
      description: Retrieve basic subscriber with all packages and components by ref_subscr_no
      summary: Get Basic Subscriber with All Pakages and Components by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithAllPackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/sub/{subscriber_number}':
    get:
      operationId: S04
      description: Retrieve basic subscriber with active packages and components by subscriber_number
      summary: Get Basic Subscriber with Active Pakages and Components by Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/SubscriberNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/css/{css_cat_id}':
    get:
      operationId: S05
      description: Retrieve basic subscriber with active packages and components by css_cat_id
      summary: Get Basic Subscriber with Active Pakages and Components by CSS CAT ID.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CssCatId'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/ca/{customer_acct_number}':
    get:
      operationId: S06
      description: Retrieve basic subscriber with active packages and components by customer_acct_number
      summary: Get Basic Subscriber with Active Pakages and Components by CA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/name/{customer_full_name}':
    get:
      operationId: S07
      description: Retrieve basic subscriber with active packages and components by customer_full_name
      summary: Get Basic Subscriber with Active Pakages and Components by Customer Name.
      tags: []
      parameters:
        - $ref: '#/components/parameters/CustomerFullName'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/id/{id_card_number}':
    get:
      operationId: S08
      description: Retrieve basic subscriber with active packages and components by id_card_number
      summary: Get Basic Subscriber with Active Pakages and Components by ID Card Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/IdCardNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/tel/{telephone_number}':
    get:
      operationId: S09
      description: Retrieve basic subscriber with active packages and components by telephone_number
      summary: Get Basic Subscriber with Active Pakages and Components by Telephone Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/TelephoneNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/ba/{bill_acct_number}':
    get:
      operationId: S10
      description: Retrieve basic subscriber with active packages and components by bill_acct_number
      summary: Get Basic Subscriber with Active Pakages and Components by BA Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/BillAcctNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BasicSubscriberWithActivePackageComponent'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}':
    get:
      operationId: S11
      description: Retrieve full info of subscriber with all packages and components by ref_subscr_no
      summary: Get Full Info of Subscriber with All Pakages and Components by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subscriber'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  /subscriber/create:
    post:
      operationId: S12
      description: Create a subscriber
      summary: Create A Subscriber.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubscriber'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  /subscriber/prepaid/create:
    post:
      operationId: S13
      description: Create a prepaid subscriber
      summary: Create A Prepaid Subscriber.
      tags: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPrepaidSubscriber'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/subscriber_number/change':
    post:
      operationId: S14
      description: Change subscriber number by ref_subscr_no
      summary: Change Subscriber Number by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeSubscriberNumber'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/subscriber_property/change':
    post:
      operationId: S35
      description: Change subscriber property by ref_subscr_no
      summary: Change Subscriber Property by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeSubscriberProperty'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/suspend':
    post:
      operationId: S17
      description: Suspend subscriber by ref_subscr_no
      summary: Suspend Subscriber by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendSubscriber'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/reconnect':
    post:
      operationId: S18
      description: Reconnect subscriber by ref_subscr_no
      summary: Reconnect Subscriber by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReconnectSubscriber'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/terminate':
    post:
      operationId: S19
      description: Terminate subscriber by ref_subscr_no
      summary: Terminate Subscriber by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminateSubscriber'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/package_comp/add':
    post:
      operationId: S20
      description: Add packages and components to subscriber by ref_subscr_no
      summary: Add Packages and Components to Subscriber by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPackageComponent'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/subscriber/{ref_subscr_no}/package_comp/terminate':
    post:
      operationId: S21
      description: Terminate packages and components of subscriber by ref_subscr_no
      summary: Terminate Packages and Components of Subscriber by Reference Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/RefSubscrNo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerminatePackageComponent'
      responses:
        '200':
          description: Operation success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationSuccess'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationFailed'
        '500':
          description: Unexpected error.
  '/invoice/{invoice_number}':
    get:
      operationId: I01
      description: Retrieve invoice info by invoice_number
      summary: Get Invoice Info by Invoice Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/InvoiceNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/invoice/{invoice_number}/payment':
    get:
      operationId: I03
      description: Retrieve payment info by invoice_number
      summary: Get All Payment Trans by Invoice Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/InvoiceNumber'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentTransaction'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/invoice/{invoice_number}/payment/{tracking_id}':
    get:
      operationId: I04
      description: Retrieve payment info by invoice_number and tracking_id
      summary: Get a Payment Tran by Invoice Number and Tracking ID.
      tags: []
      parameters:
        - $ref: '#/components/parameters/InvoiceNumber'
        - $ref: '#/components/parameters/TrackingId'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentTransaction'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/prepaid/sub/{subscriber_number}/subscription_charge/peroid/{date_from}/{date_to}':
    get:
      operationId: I05
      description: 'Retrieve prepaid subscriptions by subscriber_number, subscription_date_from, and subscription_date_to'
      summary: Get Prepaid Subscriptions by Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/SubscriberNumber'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrepaidSubscriptionCharge'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/prepaid/sub/{subscriber_number}/over_usage/peroid/{date_from}/{date_to}':
    get:
      operationId: I06
      description: 'Retrieve prepaid over usage by subscriber_number, usage_date_from, and usage_date_to'
      summary: Get Prepaid Over Usage by Subscriber Number.
      tags: []
      parameters:
        - $ref: '#/components/parameters/SubscriberNumber'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PrepaidOverUsageCharge'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/lookup/{lookup_category_name}':
    get:
      operationId: U03
      description: Retrieve lookup info by lookup_category_name
      summary: Get Lookup Info by Lookup Category Name.
      tags: []
      parameters:
        - in: path
          name: lookup_category_name
          schema:
            type: string
            example: id_card_type_lkp
          description: Lookup category name.
          required: true
      responses:
        '200':
          description: Data Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lookup'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  /master/address_lookup/th:
    get:
      operationId: U5
      description: Get Thai Address Lookup
      summary: Get Thai Address Lookup.
      tags: []
      responses:
        '200':
          description: Data Found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressLookup'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/user/{user_name}':
    get:
      operationId: U11
      description: Get user access info by user_name
      summary: Get User Access Info by User Name.
      tags: []
      parameters:
        - $ref: '#/components/parameters/UserName'
      responses:
        '200':
          description: Data Found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserAccess'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
  '/master/product_property/{service_type_code}':
    get:
      operationId: U13
      description: Get product property by service_type_code
      summary: Get Product Property by Service Type Code.
      tags: []
      parameters:
        - $ref: '#/components/parameters/ServiceTypeCode'
      responses:
        '200':
          description: Data Found.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductProperty'
        '400':
          description: Bad request.
        '401':
          description: Authorization information is missing or invalid.
        '404':
          description: Data was not found.
        '500':
          description: Unexpected error.
components:
  schemas:
    Address:
      title: Address
      type: object
      properties:
        address_id:
          type: string
          format: number
          example: '2425'
          description: Address reference id
        reference_time:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
          description: Reference up-to-date time
        address_type_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: ประเภทที่อยู่ เช่น Home Office
          example:
            lookup_ref_id: '1'
            display_value: Home
            lookup_category_name: address_type_lkp
        address_country_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: ประเทศ
          example:
            lookup_ref_id: '1'
            display_value: Thailand
            lookup_category_name: address_country_lkp
        house_number:
          type: string
          example: 202/24
          description: บ้านเลขที่
        moo:
          type: string
          example: '1'
          description: หมู่ที่
        village:
          type: string
          example: เมืองทองธานี
          description: หมู่บ้าน
        more_info:
          type: string
          example: ตึก 4
          description: อาคาร/ชั้น/ห้อง
        trok_soi:
          type: string
          example: ซอย 19
          description: ตรอก/ซอย
        road:
          type: string
          example: ถนนแจ้งวัฒนะ
          description: ถนน
        subdistrict:
          type: string
          example: ตำบลคลองเกลือ
          description: ตำบล/แขวง
        district:
          type: string
          example: อำเภอปากเกร็ด
          description: อำเภอ/เขต
        province:
          type: string
          example: นนทบุรี
          description: จังหวัด
        postal_code:
          type: string
          example: '11120'
          description: รหัสไปรษณีย์
        latitude:
          type: string
          format: number
          example: '13.03135321643213'
        longtitude:
          type: string
          format: number
          example: '13.03135321643213'
        is_primary:
          type: integer
          example: 1
          description: 'Primary address (0 = No, 1 = Yes)'
    NewAdderssForiegn:
      title: NewAdderssForiegn
      type: object
      properties:
        address_country_lkp:
          type: string
          format: number
          example: '1'
          description: ประเทศ
        house_number:
          type: string
          example: 202/24
          description: บ้านเลขที่
        moo:
          type: string
          example: '1'
          description: หมู่ที่
        village:
          type: string
          example: เมืองทองธานี
          description: หมู่บ้าน
        more_info:
          type: string
          example: ตึก 4
          description: อาคาร/ชั้น/ห้อง
        trok_soi:
          type: string
          example: ซอย 19
          description: ตรอก/ซอย
        road:
          type: string
          example: ถนนแจ้งวัฒนะ
          description: ถนน
        subdistrict:
          type: string
          example: ตำบลคลองเกลือ
          description: ตำบล/แขวง
        district:
          type: string
          example: อำเภอปากเกร็ด
          description: อำเภอ/เขต
        province:
          type: string
          example: นนทบุรี
          description: จังหวัด
        postal_code:
          type: string
          example: '11120'
          description: รหัสไปรษณีย์
        latitude:
          type: string
          format: number
          example: '13.03135321643213'
        longtitude:
          type: string
          format: number
          example: '13.03135321643213'
      required:
        - address_country_lkp
        - house_number
        - province
        - postal_code
      description: ที่อยู่ต่างประเทศ
    NewAddress:
      title: NewAddress
      allOf:
        - type: object
          properties:
            address_type_lkp:
              type: string
              format: number
              example: '1'
              description: 'ประเภทที่อยู่ Home, Office'
          required:
            - address_type_lkp
        - oneOf:
            - type: object
              properties:
                address_th:
                  $ref: '#/components/schemas/NewAddressTh'
            - type: object
              properties:
                address_foriegn:
                  $ref: '#/components/schemas/NewAdderssForiegn'
    NewAddressTh:
      title: NewAddressTh
      type: object
      properties:
        address_country_lkp:
          type: string
          enum:
            - '5'
          description: ประเทศไทย
        house_number:
          type: string
          example: 202/24
          description: บ้านเลขที่
        moo:
          type: string
          example: '1'
          description: หมู่ที่
        village:
          type: string
          example: เมืองทองธานี
          description: หมู่บ้าน
        more_info:
          type: string
          example: ตึก 4
          description: อาคาร/ชั้น/ห้อง
        trok_soi:
          type: string
          example: ซอย 19
          description: ตรอก/ซอย
        road:
          type: string
          example: ถนนแจ้งวัฒนะ
          description: ถนน
        subdistrict:
          type: string
          example: ตำบลคลองเกลือ
          description: ตำบล/แขวง
        district:
          type: string
          example: อำเภอปากเกร็ด
          description: อำเภอ/เขต
        province:
          type: string
          example: นนทบุรี
          description: จังหวัด
        postal_code:
          type: string
          example: '11120'
          description: รหัสไปรษณีย์
        latitude:
          type: string
          format: number
          example: '13.03135321643213'
        longtitude:
          type: string
          format: number
          example: '13.03135321643213'
      required:
        - address_country_type
        - house_number
        - subdistrict
        - district
        - province
        - postal_code
      description: ที่อยู่ตามรูปแบบของประเทศไทย
    NewCustomerAddress:
      title: NewCustomerAddress
      allOf:
        - $ref: '#/components/schemas/NewAddress'
        - $ref: '#/components/schemas/IsPrimaryFlag'
    NewOptionalAddress:
      title: NewOptionalAddress
      allOf:
        - $ref: '#/components/schemas/NewAddress'
        - $ref: '#/components/schemas/IsNotPrimary'
    NewPrimaryAddress:
      title: NewPrimaryAddress
      allOf:
        - $ref: '#/components/schemas/NewAddress'
        - $ref: '#/components/schemas/IsPrimary'
    BasicBillingAccount:
      title: BasicBillingAccount
      type: object
      properties:
        bill_acct_number:
          type: string
          format: number
          example: '12254127'
          description: BA number
        reference_time:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
          description: Reference up-to-date time
        customer_acct_number:
          type: string
          format: number
          example: '7017480851'
          description: CA reference number
        general_info:
          $ref: '#/components/schemas/BillingGeneralInfo'
        dispatch_method_info:
          $ref: '#/components/schemas/BillingDispatchMethodInfo'
        payment_method_info:
          $ref: '#/components/schemas/BillingPaymentMethodInfo'
        billing_address_list:
          type: array
          items:
            $ref: '#/components/schemas/BillingAddress'
        subscriber_list:
          type: array
          items:
            $ref: '#/components/schemas/BasicSubscriber'
    BillingAddress:
      title: BillingAddress
      type: object
      properties:
        bill_address_id:
          type: string
          format: number
          example: '2425'
          description: Billing address reference id
        reference_time:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
          description: Reference up-to-date time
        bill_address_type_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: 'ประเภทที่อยู่ เช่น Billing Address, VAT Addreas, Billing Delivery Address, and VAT Delivery Address'
          example:
            lookup_ref_id: '1'
            display_value: Billing Address
            lookup_category_name: bill_address_type_lkp
        address_country_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: ประเทศ
          example:
            lookup_ref_id: '1'
            display_value: Thailand
            lookup_category_name: address_country_lkp
        salutation_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: คำนำหน้าชื่อไทย
          example:
            lookup_ref_id: '1'
            display_value: นาย
            lookup_category_name: salutation_lkp
        first_name:
          type: string
          example: สมชาย
        last_name:
          type: string
          example: เจริญยิ่ง
        corp_type_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: คำนำหน้าองค์กรไทย
          example:
            lookup_ref_id: '4'
            display_value: บจก.
            lookup_category_name: corp_type_lkp
        organization_name:
          type: string
          example: เอบีซี
        address_line1:
          type: string
          example: 175/832 ม. 3
          description: บ้านเลขที่/หมู่ที่
        address_line2:
          type: string
          example: ซอย 19
          description: อาคาร/ชั้น/ตรอก/ซอย
        address_line3:
          type: string
          example: ถนนแจ้งวัฒนะ
          description: ถนน
        subdistrict:
          type: string
          example: ตำบลคลองเกลือ
          description: ตำบล/แขวง
        district:
          type: string
          example: อำเภอปากเกร็ด
          description: อำเภอ/เขต
        province:
          type: string
          example: นนทบุรี
          description: จังหวัด
        postal_code:
          type: string
          example: '11120'
          description: รหัสไปรษณีย์
        latitude:
          type: string
          format: number
          example: '13.03135321643213'
        longtitude:
          type: string
          format: number
          example: '13.03135321643213'
    BillingDispatchMethodInfo:
      title: BillingDispatchMethodInfo
      type: object
      properties:
        dispatch_method:
          type: object
          properties:
            dispatch_method_lkp:
              allOf:
                - $ref: '#/components/schemas/DisplayLookup'
              description: Billing dispatch method
              example:
                lookup_ref_id: '1'
                display_value: Printing & Email
                lookup_category_name: dispatch_method_lkp
            email_address_info:
              $ref: '#/components/schemas/BillingEmail'
        vat_dispatch_method:
          type: object
          properties:
            vat_dispatch_method_lkp:
              allOf:
                - $ref: '#/components/schemas/DisplayLookup'
              description: VAT dispatch method
              example:
                lookup_ref_id: '1'
                display_value: Printing & Email
                lookup_category_name: dispatch_method_lkp
            email_address_info:
              $ref: '#/components/schemas/BillingEmail'
    BillingEmail:
      title: BillingEmail
      type: object
      properties:
        bill_email_id:
          type: string
          format: number
          example: '2425'
          description: Billing email reference id
        reference_time:
          type: string
          format: date-time
          example: '2016-08-29T09:12:33.001Z'
          description: Reference up-to-date time
        bill_email_type_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: 'ประเภทที่อยู่ เช่น Billing Email Address, VAT Email Addreas, and Receipt Email Address'
          example:
            lookup_ref_id: '1'
            display_value: Billing Address
            lookup_category_name: bill_email_type_lkp
        email_address:
          type: string
          example: abc@def.com
          description: อีเมล์
    BillingGeneralInfo:
      title: BillingGeneralInfo
      type: object
      properties:
        active_date:
          type: string
          format: date
          example: '2030-02-02'
          description: วันที่เริ่มใช้งาน
        customer_contract:
          $ref: '#/components/schemas/DisplayCustomerContract'
        bill_acct_category_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: Billing account category
          example:
            lookup_ref_id: '14'
            display_value: ลูกค้าบุคคล
            lookup_category_name: bill_acct_category_lkp
        currency_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: Default currency
          example:
            lookup_ref_id: '1'
            display_value: Baht
            lookup_category_name: currency_lkp
        language_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: Default language
          example:
            lookup_ref_id: '1'
            display_value: Thai
            lookup_category_name: language_lkp
        parent_acct_number:
          type: string
          format: number
          example: '22254127'
          description: Parent BA number
        vat_rate_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: VAT
          example:
            lookup_ref_id: '1'
            display_value: VAT 7% (Include)
            lookup_category_name: vat_rate_lkp
        is_display_vat:
          type: integer
          example: 1
          description: Display VAT.
        collection_unit:
          $ref: '#/components/schemas/CollectionUnit'
        collection_treatment_lkp:
          allOf:
            - $ref: '#/components/schemas/DisplayLookup'
          description: Collection treatment
          example:
            lookup_ref_id: '1'
            display_value: CAT Staff
            lookup_category_name: collection_treatment_lkp
        tax_number:
          type: string
          example: '1234567890123'
          description: หมายเลขประจำตัวผู้เสียภาษี
        tax_branch_id:
          type: string
          example: '00000'
          description: หมายเลขประจำสาขา 5 หลัก
[...]
